<header class="header-container">

  <ul class="nav-container">
    <button class="create-button" routerLink="/add">Create button</button>
  </ul>
</header>



<div class="cards-container" *ngFor="let book of books">

  <div class="card-container">

    <section class="title-container" (click)="navigateToUpdate(book)">
      <label for="title" id="title">Name</label>
      <h2 class="title">{{book.name}}</h2>
    </section>
    <section class="rating-container">
      <label for="rating" id="rating">Author</label>
      <p class="rating"> {{book.author}}</p>
    </section>
    <section class="genre-container">
      <label for="genre" id="genre">Genre:</label>
      <p class="genre">{{book.genre}}</p>
    </section>
    <section class="year-container">
      <label for="year" id="year">Year:</label>
      <p class="year">{{book.year}}</p>
    </section>

  </div>

</div>
